
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#brandname {
    font-family: 'Nosifer', cursive;
    font-size: 30px;
}

.nav-link {
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding-top: 43px;
}

h3{
    font-size: 20px;
}

#aboutus {
    display: flex;
    width: 85%;
    margin: auto;
}
#aboutus p {
    font-size: 14px;
}

#aboutusimg {
    margin-top: 43px;
    position: absolute;
    z-index: -1;
    width: 85%;
}

.bladies {
    max-width: 100%;
    height: auto;
    opacity: 0.2;
}

.service {
    background-color: #FFDC9A;
}

#services, .people {
    padding-bottom: 43px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap
}


.servicecard {
    margin-bottom: 20px;
    background-color: white;
    width: 340px;
   height: 340px;
    text-align: center;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25); ;
}

.servicecard h3 {
    padding-top: 20px;
}

.servicecard hr {
    width: 200px;
    border: 1px solid #FFDC9A;
}

.servicecard p {
    text-align: justify;
    padding: 0px 20px 20px 20px;
}

footer {
    background-color: #333333;
    padding: 30px 0px;
}

h1 {
    font-family: 'Nosifer', cursive;
    color: white;
    margin-left: 10px;
    font-size: 30px;
}

.end {
    margin-bottom: 20px;
}

.fa {
    color: white;
    margin: 8px;
}
span {
    color: white;
    text-align: center;
    display: block;
    font-size: 12px;
}
/*gallery*/
.your-css {
    width: 75%;
    margin: auto;
}

#team{
    border: 8px solid #FFDC9A;
    margin-top: 43px;
}

.ad {
    background-image: url('../rayviarimg/flaunt2.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  height: 30vh;
  color: white;
  padding: 40px;
}



.testimonials {
    text-align: center;
    width: 250px;
    height: 300px;
    border: 8px solid #FFDC9A;
    padding: 20px;
    margin: 20px 50px;
}
/* you can also set slick slider width with
.slick-slide {
    width: 500px;
}
*/

.testimonials img {
text-align: center;
}

@media only screen and (min-width:768px) {
    #brandname {
        font-size: 40px;
    }
    #aboutusimg {
        position: relative;
    }
    #aboutus p {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    .bladies {
        opacity: 1;
    }
    h1 {
        font-size: 40px;
    }
    span, fa {
        font-size: 1em;
    }
    .testimonials {
        width: 500px;
        
    }
}
@media only screen and (min-width:1000px) {
    .nav-item {
        padding: 1vw;
    }
}

/*




    @media screen and (max-width:550px) {
        #navbar ul {
            display: flex;
            justify-content: center;
            padding: 20px 58px ;
            }
            #navbar ul a {
            font-size: 16px;
            padding: 5px;
            }
            #navbar ul li {
                padding: 0px 14px;
            }
            .formcontainer {
                width: 70vw;
            }
            .contactintro {
                width: 80%;
                margin: auto;
            }
            .checkbtn {
                width: 30px;
                height: 30px;
                fill: #D7CEC7;
                position: relative;        
                cursor: pointer;
                margin-top: 7px;
                margin-right: 7px;
                display: initial;
                right: 10px;
                position: fixed;
                z-index: 3;
            }
            #check:checked ~ ul {                 
                display: none;    
                transition: all .5s ease;
            }
            #navbar ul {    
        
                align-items: center;
                flex-direction: column;
                
            }
            #navbar li  {
                margin: 5px;
            }
        }
        */